////
// Styles for message boxes
// 3 styles are created: info, warning and error boxes
////


$msg-border-radius: 5px;
$msg-error-colour: #AB9898;
$msg-error-bg-colour: rgba(234, 0, 0, 0.1);
$msg-warning-colour: #C89B61;
$msg-warning-bg-colour: rgba(255, 142, 0, 0.1);
$msg-info-colour: #719F62;
$msg-info-bg-colour: rgba(48, 198, 0, 0.1);


div.messages {
  @include outer-container;
}

ul.message-list {

  button {
    padding: 2px;
    font-size: 0.7em;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    opacity: 0.7;
  }

  li {
    display: table !important;
    width: 100% !important;
    //border-radius: $msg-border-radius;
    //border: 1px solid;
    margin-bottom: 1px;

    &:before {
      padding: 0 10px;
    }

    .button-wrapper {
      display: table-cell;
      width: 10%;
      vertical-align: middle;
    }

    .text {
      display: inline-block;
      width: 90%;
    }

  }

  li.error {
    &:before {
      font-family: "FontAwesome";
      content: "\f06a";
    }

    color: $msg-error-colour;
    background: $msg-error-bg-colour;
    border-color: $msg-error-colour;
  }

  li.warning {
    &:before {
      font-family: "FontAwesome";
      content: "\f071";
    }

    color: $msg-warning-colour;
    background: $msg-warning-bg-colour;
    border-color: $msg-warning-colour;
  }

  li.info {
    &:before {
      font-family: "FontAwesome";
      content: "\f05a";
    }

    color: $msg-info-colour;
    background: $msg-info-bg-colour;
    border-color: $msg-info-colour;
  }

}