
////
// Styles for the error page
////

$text-green: #0b7a37;

body.oops {
  background: #333;
  color: #fff;
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 3em;
  }

  a {
    color: $text-green;

    &:hover {
      color: tint($text-green, 10%);
    }
  }

}
