@import '_overrides';
@import '_normalize';
@import '_neatsettings.scss';
@import 'bourbon';
@import 'neat';
@import 'base/base';
@import 'font-awesome-4.7.0/scss/font-awesome';
@import '_messageBox.scss';
@import '_toggleSwitch.scss';
@import '_oops.scss';
// React-Slick styles
@import '../node_modules/slick-carousel/slick/slick';
@import '_slick-theme.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:700|Roboto');
//@import url('https://fonts.googleapis.com/css?family=Lobster+Two&text=%26');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400i&text=%26');


// ----

$ZWCHAR: '\200b';
$main-text-color: #36434d;
$main-green: #0fb350;
$text-green: #0b7a37;
$text-red: #d0021b;
$box-slate: #edf1ec;
$strategy-result-bg-color: #d2ddcf;
$main-bg-color: #d7d7d7;
$app-header-font-family: 'Lato', 'Helvetica', 'Aria', sans-serif;
$app-regular-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;;
// use true to enable debug features, e.g. background highlighting
$DEBUG_MODE: false;

// ----


span.info {
  display: none;
}

button {
  outline: none;
  font-family: $app-regular-font-family;
}

h1, h2, h3, h4 {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  font-family: $app-header-font-family;
  //font-weight: normal;
}

span.ampersand {
  font-family: 'Playfair Display', sans-serif;
  // Specify the font-weight and font-style as Safari was not showing the font without these
  font-weight: 400;
  font-style: italic;
  padding: 0 5px;
}

body {
  background: $main-bg-color;
  min-width: 350px;
  font-family: $app-regular-font-family;
}

#site-header {
  background: $main-text-color;
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 10px 0 0 0;
  color: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #ededed;
  @include clearfix;
}

#site-header h1 {
  @include outer-container;
  //@include background(tint(yellow, 50%));
}

#site-main {
  @include clearfix;
  color: $main-text-color;
}

#pricer-wrapper {
  @include outer-container;
  @if $DEBUG_MODE {
    background: tint(green, 80%);
  }
}

#site-footer {
  @include outer-container;
  background: $main-text-color;
  color: #fff;
  padding: 30px;

  p {
    @include span-columns(6);
    padding-left: 10px;
  }

  a {
    color: $text-green;

    &:hover {
      color: tint($text-green, 10%);
    }
  }

}

@media screen and (max-width: 500px) {
  #site-footer {
    p {
      @include span-columns(12);
      padding-left: 0px;
      padding-bottom: 10px;
    }
  }
}

#strategy-bar {
  background: $main-green;
  float: left;
  width: 100%;
  min-height: 400px;
  position: fixed;
  top: -1500px;
  left: 0;
  z-index: 5;
  transition: top 400ms cubic-bezier(0.65, 0.15, 0.35, 0.85);
  @include clearfix;

  &.toggle-display {
    top: 0;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);

    ~ #mask {
      width: 100%;
      height: 100%;
      opacity: 0.7;
      transition: opacity 0.3s;
    }
  }

  .strategy-bar-wrapper {
    @include outer-container;
    padding: 30px 0;
  }

  ul {
    @include outer-container;
    @include clearfix;
    margin-bottom: 20px;
  }

  li {
    @include span-columns(4);
    cursor: pointer;
    background: #eee;
    padding: 5px 0;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 3px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    &:hover {
      background: #bbb;
      color: #eee;
    }
  }

  button {
    background: transparent;
    float: right;
    font-size: 1.5em;
    padding: 0;
    opacity: 0.6;

    &:hover {
      opacity: 0.8;
    }
  }
}

@media screen and (max-width: 450px) {
  #strategy-bar {
    li {
      @include span-columns(6);

      // reset
      &:nth-of-type(n) {
        margin-right: flex-gutter(12);
      }

      // then set for 2n
      &:nth-of-type(2n) {
        margin-right: 0;
      }

    }
  }
}



#mask {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

#pricer {
  @include outer-container;
  @if $DEBUG_MODE {
    background: #f00;
  }

  .message {
    font-size: 0.8em;
    display: block;
    text-align: center;

    &:after {
      content: $ZWCHAR;
    }
  }

  .calc-box {
    margin-bottom: 10px;
  }

  .calc-button {
    display: block;
    margin: 0 auto;
    background-color: $main-green;
    color: #fff;

    .fa-bolt {
      color: #F6FE30;
    }
  }

}

div.deal {
  @include outer-container;
  @if $DEBUG_MODE {
    background: #0f0;
  }

  .deal-results {
    //@include span-columns(3 of 3);
    float: left;
    display: block;
    width: 90%;
    margin-right: 10%;
    border: 1px solid transparent;

    &:hover {
      .fieldset-header {
        background-color: #e0b710;
      }
    }
  }

  .deal-header {
    @include outer-container;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(0,0,0,0.3);
    border-left: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;

    h3 {
      float: left;
      font-size: 1.5em;
      padding-left: 10px;
      font-weight: normal;

      span.strategy-name {
        color: $main-green;
      }
    }
    
    button {
      float: right;
      margin-left: 10px;
    }

    span.button-text {
      padding-left: 10px;
    }
    
    .add-button {
      background: transparent;
      border: 1px solid $main-green;
      color: $text-green;
    }

    .strategy-button {
      background-color: $main-text-color;
      color: #fff;
    }
    
  }

    //&:nth-of-type(4n) {
    //  margin-right: 0;
    //}

  fieldset.leg {
    //@include span-columns(3);
    background: #d0decc;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);

    &:hover {
      background: shade(#d0decc, 3%);
    }



    //&:nth-of-type(4n) {
    //  margin-right: 0;
    //}

    label {
      float: left;
      width: 50%;
      margin: 0;
      padding-left: 10px;
      font-weight: normal;
    }

    input, select {
      float: right;
      width: 40%;
      margin: 0;
      padding: 5px 0 5px 10px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);

      &:focus {
        outline: none;
      }
    }

    input:hover {
      border-color: #b1b1b1;
    }

    input:focus {
      border-color: shade(#e0b710, 5%);
    }


    legend {
      display: none;
      padding: 0 0 0 10px;
    }

    .form-group {
      @include outer-container;
      margin-bottom: 5px;
      padding-right: 10px;

      span.help-block {
        float: left;
        width: 100%;
        padding-left:10px;
        color: $text-red;
        font-size: 0.8em;

        &:after {
          content: $ZWCHAR;
        }
      }
    }

    // [!] this rule comes after the .form-group definition.
    //     This way, it will override  the previous styles.
    .buysell, .callput {
      &:after {
        content: $ZWCHAR;
        font-size: 0.8em;
      }
    }

    .fieldset-header {
      width: 100%;
      display: block;
      background-color: $main-text-color;
      color: #fff;
      padding: 5px 0 5px 10px;
      margin-bottom: 10px;

      .caption {
        font-family: $app-header-font-family;
      }

      button {
        background: transparent;
        float: right;
        padding: 2px;

        &:hover:not(.disabled) {
          opacity: 0.8;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  div.deal {
    .deal-header {
      button {
        clear: left;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  div.deal {
    .deal-header {
      button {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

.has-error {
  input {
    border-color: $text-red;
  }
}

.checkbox-group {
  display: none;
}

.negative-value {
  color: $text-red;
}

#results {
  @include outer-container;
  background: #e4ee65;

  ul.message-list {
    @include span-columns(12);
    margin-left: 0;

    li {
      margin-bottom: 10px;
    }
  }

  .message {
    font-size: 0.8em;

    &:after {
      content: $ZWCHAR;
    }
  }
}

#results-by-leg {
  @include outer-container;
  background: #a9c04a;
  transition: max-height 0.5s cubic-bezier(0, 0, 0.58, 1);

  &.by-contract-enabled {
    max-height: 400px;
    overflow: auto;
  }

  &.by-contract-disabled {
    max-height: 0;
    overflow: hidden
  }
}

.leg-result-box {
  @include span-columns(3 of 3);
  background: $box-slate;
  margin-top: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);

  h3 {
    background: $main-green;
    color: #fff;
    padding: 5px 0 5px 10px;
    font-weight: normal;
    font-size: 1.1em;
  }

  .key {
    float: left;
    width: 50%;
    padding-left: 10px;
  }

  .single-value {
    float: right;
    width: 40%;
  }
}

#results-strategy {
  @include outer-container;
  background: $strategy-result-bg-color;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;

  ul {
    margin-left: 0;
  }

  li {
    @include span-columns(3 of 3);
    padding: 3px 0;
    //background: tint(#a9c04a, 30%);
  }

  .key {
    float: left;
    width: 50%;
  }

  .total-value {
    float: right;
    width: 50%;
  }

  .small-icon {
    display: none;
  }

}

@media screen and (min-width: 600px) {

  #results-strategy {
    .small-icon {
      display: block;
      float: left;
      color: $main-green;
      padding-left: 10px;
    }

    ul {
      margin-left: 12%;
    }

    li {
      @include span-columns(3);
    }
  }

}

#scenarios {
  @include outer-container;
  @if $DEBUG_MODE {
    background: #5491c0;
  }

  .scenario-intro {
    @include outer-container;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;

    p {
      float: left;
      width: 100%;
    }

    .add-button {
      background: transparent;
      border: 1px solid $main-green;
      color: $text-green;
      display: block;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 850px) {
  #scenarios {
    .scenario-intro {
      p {
        width: 80%;
      }

      .add-button {
        float: right;
        display: block;
        margin: 0;
      }
    }
  }

}

//.scenarios {
//  @include outer-container;
//  background: shade(#5491c0, 10%);
//}

.scenario-viewer {
  background: #fff;
  border: 1px solid #979797;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
}

.scenario-1-col {
  @include span-columns(12);

  &:nth-of-type(1n) {
    margin-right: 0;
  }
}

.scenario-2-col {
  @include span-columns(6);

  &:nth-of-type(2n) {
    margin-right: 0;
  }
}

.scenario-header {
  @include outer-container;
  background: $main-text-color;
  // min-height is used to display a consistent height when error messages are loaded
  min-height: 70px;

  h3 {
    display: inline-block;
    width: 80%;
    color: #fff;
    padding: 5px 0px 5px 50%;
    font-weight: normal;
    margin: 0;
  }

  h4 {
    margin: 0;
  }

  button {
    float: right;
    padding: 8px 2px 2px 2px;
    margin-left: 3px;
    background: transparent;

    &:hover {
      opacity: 0.8;
    }

    &.config-enabled {
      color: #D57C7C;
    }
  }

  .message-list {
    @include span-columns(12);

    button {
      float: none;
    }
  }

}

.scenario-subheader {
  background: #777;
  position: relative;

  &.config-disabled .scenario-viewer-config {
    max-height: 0px;
  }

  &.config-enabled .scenario-viewer-config {
    max-height: 500px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
  }

}

.scenario-viewer-config {
  @include outer-container;
  background: rgba(237, 241, 236, 0.95);
  position: absolute;
  top: 100%;
  width: 100%;
  overflow: hidden;
  // z-index used so the config is shown over the graphs.
  z-index: 1;
  transition: max-height 0.5s cubic-bezier(0.58, 0, 0.58, 1);

  form {
    // Add padding to the inner element of scenario-viewer-config, as the height would be affected
    padding: 20px 0 40px;
  }

  label {
    float: left;
    width: 50%;
    margin: 0;
    padding-left: 10px;
    font-weight: normal;
  }

  input, select {
    float: right;
    width: 45%;
    margin: 0;
    padding: 5px 0 5px 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);

    &:hover {
      border-color: #b1b1b1;
    }

    &:focus {
      outline: none;
      border-color: shade(#e0b710, 5%);
    }
  }

  input[type="submit"] {
    float: none;
    margin: 0 auto;
    padding: 10px;
    display: block;
    width: 80%;
    outline: none;
    background-color: $main-green;
    color: #fff;

    &:disabled:hover {
      background-color: $main-green;
    }
  }


  .form-group {
    @include outer-container;
    margin-bottom: 5px;
    padding-right: 10px;

    span.help-block {
      float: left;
      width: 100%;
      padding-left:10px;
      color: $text-red;
      font-size: 0.8em;

      &:after {
        content: $ZWCHAR;
      }
    }
  }

  // [!] this rule comes after the .form-group definition.
  //     This way, it will override  the previous styles.
  .x_type, .y_type {
    &:after {
      content: $ZWCHAR;
      font-size: 0.8em;
    }
  }

}

.scenario-viewer-graph-box {
  @include outer-container;
}

.chart-outer {
  & > div {
    margin: 0 auto;
  }
}

.graph-title {
  padding: 5px 0px 5px 10px;
  background: $main-green;
  color: #fff;
  font-weight: normal;
}

.deal-by-deal-graph {
  padding-left: 5%;
  padding-top: 10px;
}