<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Interactive online Options pricing and risk profile analysis tool for European
    style options using the Black-Scholes model: Interactive pricing, Delta, Gamma, Vega, Theta and Rho calculation for options.">
    <meta name="robots" content="INDEX, FOLLOW">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="static/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="static/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="static/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="static/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/favicon/favicon-16x16.png" sizes="16x16" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="static/favicon/mstile-144x144.png" />


    <meta name="google-site-verification" content="{{ ggl-verify-code }}">

    <meta property="og:type"   content="website" />
    <meta property="og:url"    content="{{& app-url }}" />
    <meta property="og:title"  content="Option Pricer and Risk Profiler" />
    <meta property="og:description"  content="Interactive financial European style Options pricing and risk profile analysis tool." />
    <meta property="og:site_name"   content="Option Pricer and Risk Profiler" />
    <meta property="og:image"   content="{{& app-url }}/static/images/snapshot.png" />
    <meta property="og:image:type"   content="image/png" />
    <meta property="og:image:width"   content="584" />
    <meta property="og:image:height"   content="533" />

    <title>Option Pricer and Risk Profiler</title>
    <link rel="stylesheet" href="static/css/appStyles.css">
</head>
<body itemscope itemtype="http://schema.org/WebApplication">
<header id="site-header">
    <h1  itemprop="name">Option Pricer <span class="ampersand">&</span> Risk Profiler</h1>
</header>

<main id="site-main">
    <section id="optpricer">
        <div id="preloader"
             style="margin:0 auto;text-align: center; padding: 100px 0px 700px 0px; vertical-align: middle;">
            <p>Loading the calculator and profile analyser&hellip;<br/><br/>
                <img src="static/images/spinner.gif">
            </p>
        </div>
    </section>
</main>

<footer id="site-footer">
    <p itemprop="description">
        The Options Calculator web-app is an interactive online European-style
        <a href="https://en.wikipedia.org/wiki/Option_(finance)" rel="nofollow">financial options</a>
        pricing, profiling and analysis tool.<br/>
        It is aimed for gaining an intuitive understanding of options pricing and the Greeks using the
        <a href="https://en.wikipedia.org/wiki/Black%E2%80%93Scholes_model" rel="nofollow">Black-Scholes model</a>
        and visualising the pricing and risk behaviour of various options strategies.</br>
        For example, you can simulate how the change in volatility or time to expiry affect the price, delta, gamma or vega
        of an option strategy, be it a call option, put option, or something more interesting like a long call butterfly.
        In fact, you can create your own option strategy and analyse its behaviour!
    </p>
    <p>
        <span class="fa fa-fw fa-code"></span>
        Created by <a href="https://sorou.sh" rel="author">Soroush Javidi</a>.<br/>
        <span class="fa fa-fw fa-gitlab"></span>
        GitLab projects for the
        <span class="fa fa-line-chart"></span>
        <a href="https://gitlab.com/yrex/option-pricer-viewer" rel="external">web app</a> and the
        <span class="fa fa-calculator"></span>
        <a href="https://gitlab.com/yrex/flask-option-pricer" rel="external">option calculator</a>.
    </p>
</footer>

<script src="static/js/vendor.js"></script>
<script src="static/js/app.js"></script>

<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ ggl-property ID }}', 'auto');
    ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

</body>
</html>
